@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap');


:root {
    font-family: 'Raleway', 'Roboto', sans-serif;
    --background-color: #FFFFFFFF;
    --main-color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--main-color);
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.studio {
    color: #2e2f42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    lline-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.link:hover {
    color: #404bbf
}

.list {
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
}

.list li:first-child a.link {
    font-weight: 500;
    text-decoration: none;
}

.list li:first-child a.link:hover {
    color: #404bbf;
    text-decoration: none;
}

.list li:first-child a.link:focus {
    color: #404bbf;
    text-decoration: none;
}

.section {
    background-color: #2e2f42;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    text-transform: capitalize;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover {
    background-color: #404bbf
}

.titlu {
    background-color: #2e2f42;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    text-transform: capitalize;
}