@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300&display=swap');


:root {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    --background-color: #FFFFFFFF;
    --main-color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--main-color);
}

.Web-Studio-Logo {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.Studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    lline-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}